.row {
	width: 100%;
	display: flex;
  flex-wrap: wrap;
}

.row.no-wrap {
	@extend .row;
	flex-wrap: nowrap;
}

.row-around {
	@extend .row;
	justify-content: space-around;
}

.row-between {
	@extend .row;
	justify-content: space-between;
}

.horizontal-center,
.hor-center {
	@extend .row;
	justify-content: center;
}

.vertical-center,
.ver-center {
	@extend .row;
	align-items: center;
}

.full-centering {
	@extend .vertical-center;
	@extend .horizontal-center;
}

.grid {
  flex-grow: 1;
  max-width: 100%;
}

@for $i from $base-grid to $max-grid {
	.grid-#{$i} {
		@extend .grid;
		width: ($i / $max-grid) * 100%;
	}
}