// charset meta tag
meta(charset="UTF-8")

// Responsive meta tag
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")

// Title of the website
title #{title}

// SEO meta tags
meta(name="description", content=description)
meta(name="author", content=author)
meta(name="keywords", content=keywords)

// style files (CSS files)
link(rel="stylesheet", href="./css/docs.style.css")
