.sidebar
	.brand #{title}

	ul.content-list
		li.content-item
			a(href="#overview") overview
		li.content-item
			a(href="#item-2") item 2
		li.content-item
			a(href="#item-3") item 3
		li.content-item
			a(href="#item-4") item 4
		li.content-item
			a(href="#item-5") item 5
