//- include variables
include partials/variables

//- include fixers to fix some issue
include helpers/fix

doctype
html(lang="en")
  head
    //- include head
    include partials/head
  body

    .row
      aside.grid.sm-3-and-up
        //- include sidebar
        include partials/sidebar.pug
      main.grid.sm-9-and-up
        //- include navbar
        include partials/navbar.pug

        //- include overview section
        include sections/overview.pug

        //- include install section
        include sections/install.pug

        //- include usage section
        include sections/usage.pug

        //- include browser support section
        include sections/browser-support.pug

        //- include basic section
        include sections/basic.pug

        //- include in-one-screen section
        include sections/in-one-screen.pug

        //- include hidden section
        include sections/hidden.pug



    //- include footer
    include partials/footer