html, body {
	margin: 0;
	padding: 0;
}

.box {
	background-color: #ccc;
	height: 50px;
	margin: 10px;
	padding: 5px;
	border: 1px solid #888;
}

.container {
	max-width: 1500px;
	width: 95%;
	margin: 0 auto;
}

.text-center {
	text-align: center;
}

aside {
	background-color: #eee;
}

.sidebar {
	padding: 10px;
}

.sidebar .content-list {
	list-style-type: none;
	padding: 10px;
}

.sidebar .content-list .content-item {
	margin: 10px 0;
}

.sidebar .content-list .content-item a {
	text-decoration: none;
	text-transform: capitalize;
}

footer {
	background-color: #eee;
	padding: 20px;
	margin: 0;
}

@media (max-width: 576px) {
	.container {
		width: 100%;
	}
}