#browser-support.section
  h2 
    a(href="#browser") #
    |  browser support
  p this framework support any browser support the Flex-box properties, here is a table of the browsers supported
  table
    thead
      tr
        th #
        th browser
        th minimum version
    tbody
      each browser in browserSupportList
        tr
          td.brand
            i(class="fab fa-" + browser.icon + " " + browser.icon)
          td #{browser.icon.replace(/-/g, ' ')}
          td= browser.version
