#install.section
  h2
    a(href="#Install") #
    |  Install
  p avaliable installing ways, choose one of them
  ul
    li npm
    | #[pre #[code.html npm install --save @mohssineaboutaj/grid-system]]
    li yarn
    | #[pre #[code.html yarn add --save @mohssineaboutaj/grid-system]]
    li CDN
    | #[pre #[code.html https://mohssineaboutaj.github.io/grid-system/css/grid-system.min.css]]
    li Download
    | go to #[a(href="https://github.com/mohssineAboutaj/grid-system") https://github.com/mohssineAboutaj/grid-system], download the zip or clone the repo, copy css file exist on the path #[pre #[code.html css/grid-system.css]] or #[pre #[code.html css/grid-system.min.css]] then follow usage steps bellow
  .box
    b NOTE: 
    | If you wanto to use #[i npm] or #[i yarn] you need to download #[a(href="https://nodejs.org", target="_blank") Nodejs]