//- website title
-var title = "grid system - Docs";

//- website description
-var description = "A simple grid system with 4 screen sizes (sm, md, lg, xl) based on bootstrap sizes to make your design responsive with maximum media resolutions";

//- website author
-var author = "Mohssine Aboutaj";

//- website keywords
-var keywords = "grid, grid system, sm, md, lg, xl, based on bootstrap, design, responsive, media resolutions, columns";

//- sidebar links
-
	var sidebarLinks = [
		"overview",
		"install",
		"usage",
		"browser-support",
		"basic",
	];

//- List of browser Supported
-
	var browserSupportList = [
		{
			icon: "chrome",
			version: 29.0,
		},
		{
			icon: "internet-explorer",
			version: 11.0,
		},
		{
			icon: "firefox",
			version: 22.0,
		},
		{
			icon: "safari",
			version: 10,
		},
		{
			icon: "opera",
			version: 48,
		},
	];

//- author social links
-	
	var socialLinks = [
		{
			icon: "facebook",
			href: "https://facebook.com/vive.mouhssine",
		},
		{
			icon: "twitter",
			href: "https://twitter.com/mohssineAboutaj",
		},
		{
			icon: "linkedin",
			href: "https://www.linkedin.com/in/mohssine-aboutaj-90a874191/",
		},
	];
