/**
 * This file using to customize the documetation style
 */
/* import fonts */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900|Open+Sans:400,800&display=swap");
/* Start reset */
html, body {
  color: #4d4d4d;
  margin: 0;
  padding: 0; }

/* End reset */
/* Start global classes */
body {
  max-width: 1500px; }

.brand, .logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.5em; }

.box {
  background-color: #ccc;
  height: 50px;
  margin: 10px;
  padding: 5px;
  border: 1px solid #888; }

.text-center, nav .navbar .logo {
  text-align: center; }

.text-capitalize, h1, h2, h3, h4, h5, h6, main #browser-support table th, main #browser-support table td {
  text-transform: capitalize; }

.text-uppercase, .brand, .logo, main #install li {
  text-transform: uppercase; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #4d4d4d;
  font-weight: 700; }

p {
  font-family: "Open Sans", sans-serif; }

.hide {
  display: none; }

/* End global classes */
/* Start navbar */
nav {
  height: 50px;
  overflow: hidden; }
  nav .navbar {
    position: fixed;
    top: 0;
    height: inherit;
    width: 100%;
    background-color: #e6e6e6;
    padding: 10px; }
    nav .navbar .icon {
      margin: 0 20px 0 10px;
      cursor: pointer; }

/* End navbar */
/* Start sidebar */
aside {
  position: relative; }
  aside .sidebar {
    background-color: #e6e6e6;
    padding: 10px;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: auto; }
    aside .sidebar .content-list {
      list-style-type: none;
      padding: 10px; }
      aside .sidebar .content-list .content-item {
        margin: 10px 0; }
        aside .sidebar .content-list .content-item a {
          text-decoration: none;
          text-transform: capitalize; }

/* End sidebar */
/* Start main content */
main .section {
  padding: 10px 20px;
  margin: 10px 0; }

main #install li {
  font-family: "Open Sans", sans-serif;
  font-weight: 700; }

main #browser-support table {
  width: 100%; }
  main #browser-support table tr:nth-child(even) {
    background-color: #e6e6e6; }
  main #browser-support table th {
    padding: 20px;
    font-weight: bold; }
  main #browser-support table td {
    padding: 10px 20px; }
  main #browser-support table .brand {
    color: #4d4d4d; }

/* End main content */
/* Start footer */
footer {
  background-color: #e6e6e6;
  padding: 20px;
  margin: 0; }

/* End footer */
