#install.section
	h2 Install
	p avaliable installing ways, choose one of them
	ul
		li npm
		| #[pre #[code.html npm install --save @kech/grid-system]]
		li yarn
		| #[pre #[code.html yarn add --save @kech/grid-system]]
		li Download
		| go to #[a(href="https://github.com/mohssineAboutaj/grid-system") https://github.com/mohssineAboutaj/grid-system], download the zip or clone the repo, copy css file exist on the path #[pre #[code.html css/grid-system.css]] or #[pre #[code.html css/grid-system.min.css]], then follow usage steps bellow
