//- include variables
include partials/variables

doctype
html(lang="en")
	head
		//- include head
		include partials/head
	body

		.row
			aside.grid-2-md
				//- include sidebar
				include partials/sidebar.pug
			main.grid-10-md
				//- include navbar
				include partials/navbar.pug

				//- include overview section
				include sections/overview.pug

				//- include install section
				include sections/install.pug

				//- include usage section
				include sections/usage.pug

				//- include basic section
				include sections/basic.pug




		//- include footer
		include partials/footer