//- include variables
include partials/variables

doctype
html(lang="en")
	head
		//- include head
		include partials/head
	body

		.row
			aside.grid-2-md
				//- include sidebar
				include partials/sidebar

			main.grid-10-md
				//- include grid component
				include extends/grid.component.pug

				.container
					h3 grid
					+grid()

					h3 grid docs
					+gridDocs()



		//- include footer
		include partials/footer